/* Button Wrapper */
.NavBtnWrapper {
  display: block;
  padding: 1rem;
  width: 20px;
  height: 20px;
  border-radius: 1rem;
  z-index: 1000; }
  .NavBtnWrapper.is-active {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.2); }
    .admin-bar .NavBtnWrapper.is-active {
      top: calc(1rem + 32px); }
    .NavBtnWrapper.is-active:hover, .NavBtnWrapper.is-active:focus {
      background-color: rgba(0, 0, 0, 0.3); }
    .NavBtnWrapper.is-active span:nth-child(1),
    .NavBtnWrapper.is-active span:nth-child(3) {
      background-color: #ffffff; }

/* Background Lines */
.NavLines {
  position: fixed;
  z-index: 980;
  top: 0;
  left: -1000%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s ease; }

/* Main background */
.NavBackground {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0C1013;
  display: block;
  top: -100%;
  opacity: 0;
  transition: opacity .5s ease, top 0s ease .5s;
  z-index: 970; }
  .NavBackground.is-active {
    top: 0;
    opacity: 0.9;
    transition: opacity .5s ease, top 0s ease; }

/* Nav wrapper */
.NavWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #767676;
  transition: left 0s ease .4s;
  z-index: 990; }
  .NavWrapper.is-active {
    left: 0;
    transition: left 0s ease; }

/* Menu Wrapper */
.MenuWrapper {
  position: relative;
  top: 2em;
  width: 300px;
  margin: 0 0 0 105px;
  padding: 1em 0 2em 0;
  transform: translate3d(0, 0, 0); }
  .MenuWrapper.is-active .MenuContainer ul li {
    opacity: 1; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(1) {
      transition: opacity .3s ease .2s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(2) {
      transition: opacity .3s ease .25s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(3) {
      transition: opacity .3s ease .3s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(4) {
      transition: opacity .3s ease .35s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(5) {
      transition: opacity .3s ease .4s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(6) {
      transition: opacity .3s ease .45s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(7) {
      transition: opacity .3s ease .5s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(8) {
      transition: opacity .3s ease .55s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(9) {
      transition: opacity .3s ease .6s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(10) {
      transition: opacity .3s ease .65s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(11) {
      transition: opacity .3s ease .7s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(12) {
      transition: opacity .3s ease .75s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(13) {
      transition: opacity .3s ease .8s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(14) {
      transition: opacity .3s ease .85s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(15) {
      transition: opacity .3s ease .9s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(16) {
      transition: opacity .3s ease .95s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(17) {
      transition: opacity .3s ease 1s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(18) {
      transition: opacity .3s ease 1.05s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(19) {
      transition: opacity .3s ease 1.1s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(20) {
      transition: opacity .3s ease 1.15s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(21) {
      transition: opacity .3s ease 1.2s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(22) {
      transition: opacity .3s ease 1.25s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(23) {
      transition: opacity .3s ease 1.3s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(24) {
      transition: opacity .3s ease 1.35s; }
    .MenuWrapper.is-active .MenuContainer ul li:nth-child(25) {
      transition: opacity .3s ease 1.4s; }
    .MenuWrapper.is-active .MenuContainer ul li span {
      opacity: 1; }

.MenuContainer .menu {
  width: 90%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0; }
  .MenuContainer .menu li {
    margin: 0;
    padding: 0;
    border: none;
    z-index: auto;
    position: relative; }
  .MenuContainer .menu li span.is-submenu-active {
    width: 40px;
    right: 0;
    opacity: 1 !important;
    pointer-events: auto;
    transform: translateX(-300px); }
    .MenuContainer .menu li span.is-submenu-active:hover {
      padding-right: 10px; }
.MenuContainer ul li {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  opacity: 0; }
  .MenuContainer ul li a {
    width: 100%;
    left: 0;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 10px 0 5px 0;
    display: inline-block;
    text-decoration: none;
    outline: none;
    transition: all .2s ease; }
    .MenuContainer ul li a:hover, .MenuContainer ul li a:active {
      color: #C9A536 !important; }
  .MenuContainer ul li.current-menu-item > a {
    color: #6A7074;
    text-decoration: line-through; }
.MenuContainer ul.is-top-inactive {
  transition: opacity .75s ease, transform .75s ease, left 0s ease .75s !important; }
  .MenuContainer ul.is-top-inactive > li > a {
    opacity: 0 !important;
    pointer-events: none; }
  .MenuContainer ul.is-top-inactive > li > span {
    pointer-events: none; }
  .MenuContainer ul.is-top-inactive > li > span .sub-menu-arrow-tip-right {
    transform: scale(0); }
  .MenuContainer ul.is-top-inactive > li > span .sub-menu-arrow-line {
    width: 0; }

.MenuContainer ul li span {
  width: 80px;
  height: 45px;
  position: absolute;
  top: 6px;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: right;
  opacity: 0;
  transition: width .5s ease, right .5s ease, padding .5s ease, transform .5s ease;
  z-index: 950; }
.MenuContainer ul li.menu-item-has-children:hover span {
  right: -10px; }

.sub-menu-arrow-line {
  width: 78px;
  height: 2px;
  background-color: #fff;
  margin-top: 20px;
  transition: all .6s ease; }
  .MenuContainer .menu li span.is-submenu-active .sub-menu-arrow-line {
    width: 34px; }

.sub-menu-arrow-tip-right {
  position: relative;
  top: -4px;
  right: -2px;
  margin: 0 0 0 auto;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  transition: all .5s ease; }
  .MenuContainer .menu li span.is-submenu-active .sub-menu-arrow-tip-right {
    transform: scale(0); }

.MenuContainer ul.sub-menu {
  position: absolute;
  top: 0;
  left: -1000%;
  list-style: none;
  margin: 10px 0 0 0 !important;
  padding: 0;
  opacity: 0;
  height: 100%;
  transition: opacity .45s ease .2s, left 0s ease 0s;
  z-index: 960; }
  .MenuContainer ul.sub-menu li:last-child {
    padding-bottom: 50px; }
  .MenuContainer ul.sub-menu li a {
    min-width: 300px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 0 0 1em 0; }
    .MenuContainer ul.sub-menu li a:hover {
      color: #C9A536; }
  .MenuContainer ul.sub-menu li.current-menu-item > a {
    color: #6A7074;
    text-decoration: line-through; }

.is-sub-inactive {
  top: 0;
  left: 0 !important;
  opacity: 1 !important;
  transition: opacity .35s ease 0s, left 0s ease .35s; }

.sub-menu-arrow-tip-left {
  position: absolute;
  top: 16px;
  left: -2px;
  margin: 0 auto 0 0;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
  transform: scale(0);
  transition: all .5s ease; }
  .MenuContainer .menu li span.is-submenu-active .sub-menu-arrow-tip-left {
    transform: scale(1); }

/* Responsive Settings */
@media screen and (max-width: 600px) {
  .MenuWrapper {
    top: 3em;
    width: 240px;
    margin: 0 0 0 4em; }

  .sub-menu-arrow-line {
    width: 4em; }

  .MenuContainer ul li a,
  .MenuContainer ul li ul.sub-menu a {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5; }
  .MenuContainer ul li span {
    top: 0;
    width: 50px; }
  .MenuContainer .menu-item-has-children:hover span {
    right: -5px; }
  .MenuContainer .menu li span.is-submenu-active:hover {
    padding-right: 5px; }
  .MenuContainer .menu li span.is-submenu-active {
    width: 30px;
    transform: translateX(-220px); }
  .MenuContainer .menu li span.is-submenu-active .sub-menu-arrow-line {
    width: 20px; } }
.shapla-modal {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 1000; }
  .shapla-modal.is-active {
    display: flex; }
  .shapla-modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.86); }
  .shapla-modal-content, .shapla-modal-card {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%; }
    @media screen and (min-width: 769px), print {
      .shapla-modal-content, .shapla-modal-card {
        margin: 0 auto;
        max-height: calc(100vh - 40px);
        width: 640px; } }
  .shapla-modal-close {
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 32px;
    cursor: pointer;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1rem;
    outline: none;
    position: relative;
    vertical-align: top;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    background: none;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px; }
    .shapla-modal-close:before, .shapla-modal-close:after {
      background-color: #ffffff;
      content: "";
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      transform-origin: center center; }
    .shapla-modal-close:before {
      height: 2px;
      width: 50%; }
    .shapla-modal-close:after {
      height: 50%;
      width: 2px; }
    .shapla-modal-close:hover, .shapla-modal-close:focus {
      background-color: rgba(0, 0, 0, 0.3); }

.is-body-clipped {
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
