/* Button Wrapper */
.NavBtnWrapper {
	display: block;
	padding: 1rem;
	width: 20px;
	height: 20px;
	border-radius: 1rem;
	z-index: 1000;

	&.is-active {
		position: fixed;
		top: 1rem;
		right: 1rem;
		background-color: rgba(#000, 0.2);

		.admin-bar & {
			top: calc(1rem + 32px);
		}

		&:hover,
		&:focus {
			background-color: rgba(#000, 0.3);
		}

		span:nth-child(1),
		span:nth-child(3) {
			background-color: #ffffff;
		}
	}
}
