.shapla-modal {
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	align-items: center;
	display: none;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	z-index: 1000;

	// Modifiers
	&.is-active {
		display: flex;
	}

	&-background {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		background-color: rgba(#000, 0.86);
	}

	&-content,
	&-card {
		margin: 0 20px;
		max-height: calc(100vh - 160px);
		overflow: auto;
		position: relative;
		width: 100%;
		// Responsiveness
		@media screen and (min-width: 769px), print {
			margin: 0 auto;
			max-height: calc(100vh - 40px);
			width: 640px;
		}
	}

	&-close {
		user-select: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		background-color: rgba(#000, 0.2);
		border: none;
		border-radius: 32px;
		cursor: pointer;
		display: inline-block;
		flex-grow: 0;
		flex-shrink: 0;
		font-size: 1rem;
		outline: none;
		position: relative;
		vertical-align: top;
		height: 20px;
		width: 20px;
		margin: 0;
		padding: 0;

		&:before,
		&:after {
			background-color: #ffffff;
			content: "";
			display: block;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translateX(-50%) translateY(-50%) rotate(45deg);
			transform-origin: center center;
		}

		&:before {
			height: 2px;
			width: 50%;
		}

		&:after {
			height: 50%;
			width: 2px;
		}

		&:hover,
		&:focus {
			background-color: rgba(#000, 0.3);
		}

		background: none;
		height: 40px;
		position: fixed;
		right: 20px;
		top: 20px;
		width: 40px;
	}
}
