/* Nav wrapper */
.NavWrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -100%;
	width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #767676;
	transition: left 0s ease .4s;
	z-index: $NavWrapper;

	&.is-active {
		left: 0;
		transition: left 0s ease;
	}
}
